body{
  font-family: "Lato" sans-serif;
}
nav {
  background-color: #fff;
  width: 100%;
  height: 7vh;
  text-transform: uppercase;
  color: white;
  font-size: 0.5626rem;
  display: flex;
  letter-spacing: 0.2px;
  border-bottom: 1px solid #e7e7e7;
}
ul {
  color: #444444;
  display: flex;
  margin: 0;
  font-family: "Lato";
}
ul:first-child {
  padding-left: 120px;
}
ul:not(:first-child) {
  margin-left: 385px;
}
li {
  list-style-type: none;
  padding-top: 1.25rem;
  flex-grow: 0.5;
  white-space: nowrap;
}
.fun:not(:first-child) {
  margin-left: 15px;
}
.fun:last-child {
  margin-left: 22px;
}
img{
  width: 100%;
  height: 23.875rem;
}
div{
  width: 50%;
  margin-left: 12%;
}
aside{
  margin-left: 3%;
  width: 23%;
  margin-right: 25%;
}
li:not(:first-child) {
  margin-left: 23px;
}
main{
  display: flex;
  margin-top: 50px;
}
article{
  text-align: center;
}
.article-footer{
  display: flex;
}
aside ul {
  float: left;
}

footer > p {
  font-size: 0.675rem;
}
#heart {
  color: #dd7470;
}
