*{
  padding: 0;
  margin: 0;
}
html{
  font-family: "Lato", sans-serif;
  font-style: 10px;
}
.container{
  display: flex;
}
nav{
  display: flex;
  font-size: .6rem;
  text-transform: uppercase;
  padding-left: 7.6rem;
  padding-top: 1.2rem;
  margin-bottom: 2rem;
  padding-bottom: 1.4rem;
  border-bottom: 2px solid #CCC;
}
ul{
  display: flex;
}
li{
  list-style: none;
  margin-right: 1.2rem
}
.follow{
  text-align: center;
}
.footer-top{
  display: flex;
  width: 100%;
  height: auto;
}
.footer-top  img{
  width: 100%;
  height: 130px;
}

.footer-bottom{
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
}
.article-footer{
  display: flex;
}
.left{
  width: 70%;
  margin-left: 7.6rem;
  margin-right: 2.4rem;
}
.left img {
  width: 100%;
  height: 24rem;
}
.right{
  width: 50%;
}
article {
  text-align: center;
}
.story{
  text-align: left;
  line-height: 1.5;
  font-size: .8rem;
  
}
.travel{
  margin-top: 1.8rem;
  margin-left: 1.2rem;
  margin-bottom: .7rem;
  font-size: .6rem;
  text-transform: uppercase;
}
.left h2{
  margin-bottom: 1.3rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  /* letter-spacing: .3rem; */
  font-family: "Oswald";
}
